.App {
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template:
    "header main" 1fr/
    0.2fr 0.8fr;
  grid-gap: 20px;
}

.header {
  grid-area: header;
  background-color: aqua;
  display: grid;
}
.header-item {
  list-style: none;
}

.main {
  grid-area: main;
  display: grid;
  grid-template:
    "home R-menu" 1fr/
    0.6fr 0.4fr;
  /* background-color: blueviolet; */
  grid-gap: 20px;
}

.home {
  display: grid;
  grid-area: home;
  background-color: rgba(255, 255, 0, 0.308);
  justify-content: center;
}
.top-main-div {
  display: grid;
  place-content: center;
  grid-gap: 20px;
  
}
.form-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.form-container {
display: grid;
grid-auto-flow: column;
}
.form {
  display: grid;
  place-content: center;
}
.form-icons-list {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  justify-content: space-between;
}
.form-icon {
  list-style: none;
  color: rgb(29 155 240);
}

.input {
  justify-content: start;
  height: 50px;
  width: 300px;
}
.posts-list {
  display: grid;
}
.post-item {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
}
.post-info {
  display: grid;
  grid-auto-flow: row;
}
.post-info__names__and__more {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.post-interactions{
  display: grid;
  grid-auto-flow: column;
  color: rgb(83 100 113)
  
}

.R-menu {
  grid-area: R-menu;
  background-color: rgb(138, 177, 207)
}

.form {
  display: grid;
}
